//theme fonts


@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

//font-family: 'Lato', sans-serif;

$lato: 'Lato', sans-serif;



@font-face {
    font-family: 'Bodoni';
    src: url('Bodoni-Book.woff2') format('woff2'),
        url('Bodoni-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

$bodoni: 'Bodoni';
