
.lead-section{

    background-size: cover;
    background-repeat: no-repeat;


    .lead-section-title{
        padding: 218px 0;
        font-size: 6rem;
        line-height: 8.4rem;
        letter-spacing: 20px;
        font-family: $bodoni;
    }

}









