.single-services{
    margin-top: 170px;
    .services-description-item{ 
    .services-item{
        padding: 0 5px;
    }
    }
}
@media(min-width:1200px){
    .single-services{
    
    .services-description-item{ 
    .services-item{
        padding-left: 100px;
    }
    }
}
}



